[submodule "mimicgen"]
	path = mimicgen
	url = https://github.com/NVlabs/mimicgen.git
[submodule "robosuite"]
	path = robosuite
	url = https://github.com/ARISE-Initiative/robosuite
[submodule "robocasa"]
	path = robocasa
	url = https://github.com/robocasa/robocasa
[submodule "robomimic"]
	path = robomimic
	url = https://github.com/ARISE-Initiative/robomimic
[submodule "robosuite_models"]
	path = robosuite_models
	url = https://github.com/ARISE-Initiative/robosuite_models.git
